<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.intel.CrosswalkTools.newProject"
            name="%category.name">
      </category>
      <wizard
            category="com.intel.CrosswalkTools.newProject"
            class="org.xwalk.ide.eclipse.xdt.wizards.newproject.NewProjectWizard"
            icon="images/icon-48.png"
            id="com.intel.CrosswalkTools.newProjectWizard"
            name="%wizard.name"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="com.intel.CrosswalkTools.export"
            name="%category.name.0">
      </category>
      <wizard
            category="com.intel.CrosswalkTools.export"
            class="org.xwalk.ide.eclipse.xdt.wizards.export.ExportProjectWizard"
            icon="images/icon-64.png"
            id="com.intel.CrosswalkTools.exportProjectwizard"
            name="%wizard.name.0">
      </wizard>
   </extension>
   <extension
         id="org.xwalk.ide.eclipse.xdt.XwalkNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.xwalk.ide.eclipse.xdt.project.XwalkNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.xwalk.ide.eclipse.xdt.preference.settingPage"
            id="com.intel.CrosswalkTools.preferencePage"
            name="%PreferencePage.name ">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="com.intel.CrosswalkTools.newProjectWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="com.intel.CrosswalkTools.import"
            name="%category.name.0">
      </category>
      <wizard
            category="com.intel.CrosswalkTools.import"
            class="org.xwalk.ide.eclipse.xdt.wizards.importer.ImportProjectWizard"
            icon="images/icon-48.png"
            id="com.intel.CrosswalkTools.importProjectwizard"
            name="%wizard.name.1">
      </wizard>
   </extension>
</plugin>
